.album-detail-container {
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.album-details-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}

.text-overlay {
  position: absolute;
  top: 0;
  color: rgb(245, 187, 226);
  background-color: rgb(37, 37, 37, 0.7);
  height: 500px;
  width: 500px;
  font-family: "Satisfy", sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 2rem;
  text-shadow: 5px 5px 5px black;
}

.text-overlay > h1 {
  color: rgb(134, 196, 196);
  font-style: italic;
}

.songs-list {
  display: flex;
  justify-content: center;
  color: rgb(134, 196, 196);
  height: 17rem;
  white-space: nowrap;
  overflow: hidden;
  font-size: 25px;
}

.list-unstyled {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.album-song {
  margin-top: 3rem;
}

.genre-name {
  font-size: 35px;
}

.details-btns {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  place-items: center;
}

.details-btn {
  margin-left: 60px;
  margin-right: 60px;
}

.delete-btn {
  border-radius: 500rem;
  background-color: rgb(245, 187, 226);
  font-family: "Satisfy", sans-serif;
}

.edit-btn {
  border-radius: 500rem;
  background-color: rgb(134, 196, 196);
  font-family: "Satisfy", sans-serif;
}
