.welcome-container {
  text-align: center;
  padding: 2.5rem;
}

/* This targets any h1 that is a child of an element with the .welcome-container class */
.welcome-container > h1 {
  font-family: "Satisfy", sans-serif;
  font-size: 450%;
  color: rgb(181, 80, 103);
  text-shadow: 5px 5px 5px black;
}

.welcome-container > img {
  border: solid;
  border-radius: 75%;
  height: 400px;
  width: 400px;
}
