.album-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 250px;
}

.album-choices {
  padding: 100px;
}

.choose-one {
  display: flex;
  justify-content: center;
  margin: 50px;
}
