.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 50%;
  padding: 0.5rem;
  justify-content: space-between;
}

.navbar-item {
  list-style-type: none;
  text-align: center;
  color: black;
  text-decoration: none;
  flex-basis: 35%;
  width: 10px;
}

.navbar-link {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  display: none;
  color: rgb(245, 187, 226);
}

.navbar-link:hover {
  color: rgb(134, 196, 196);
}

.navbar-item:hover .navbar-link {
  display: block;
}

.image {
  border-radius: 55%;
}
